<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BigAreas</key>
	<array>
		<dict>
			<key>areaId</key>
			<integer>9001</integer>
			<key>areaName</key>
			<string>中国</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9002</integer>
			<key>areaName</key>
			<string>蒙古</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9003</integer>
			<key>areaName</key>
			<string>朝鲜</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9004</integer>
			<key>areaName</key>
			<string>韩国</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9005</integer>
			<key>areaName</key>
			<string>日本</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9006</integer>
			<key>areaName</key>
			<string>东南亚</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9007</integer>
			<key>areaName</key>
			<string>南亚</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9008</integer>
			<key>areaName</key>
			<string>中亚</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9009</integer>
			<key>areaName</key>
			<string>西亚</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9010</integer>
			<key>areaName</key>
			<string>东欧</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9011</integer>
			<key>areaName</key>
			<string>中欧</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9012</integer>
			<key>areaName</key>
			<string>南欧</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9013</integer>
			<key>areaName</key>
			<string>西欧</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9014</integer>
			<key>areaName</key>
			<string>北欧</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9015</integer>
			<key>areaName</key>
			<string>北非</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9016</integer>
			<key>areaName</key>
			<string>西非</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9017</integer>
			<key>areaName</key>
			<string>东非</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9018</integer>
			<key>areaName</key>
			<string>中非诸国</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9019</integer>
			<key>areaName</key>
			<string>南非诸国</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9020</integer>
			<key>areaName</key>
			<string>加拿大</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9021</integer>
			<key>areaName</key>
			<string>美国</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9022</integer>
			<key>areaName</key>
			<string>格陵兰岛</string>
			<key>isCountry</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9023</integer>
			<key>areaName</key>
			<string>中北美</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9024</integer>
			<key>areaName</key>
			<string>南美</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9025</integer>
			<key>areaName</key>
			<string>大洋洲</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaId</key>
			<integer>9026</integer>
			<key>areaName</key>
			<string>南极洲</string>
			<key>isCountry</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
