<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RECORDS</key>
	<array>
		<dict>
			<key>provinceId</key>
			<real>110000</real>
			<key>provinceName</key>
			<string>北京市</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>120000</integer>
			<key>provinceName</key>
			<string>天津市</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>130000</integer>
			<key>provinceName</key>
			<string>河北省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>140000</integer>
			<key>provinceName</key>
			<string>山西省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>150000</integer>
			<key>provinceName</key>
			<string>内蒙古自治区</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>210000</integer>
			<key>provinceName</key>
			<string>辽宁省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>220000</integer>
			<key>provinceName</key>
			<string>吉林省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>230000</integer>
			<key>provinceName</key>
			<string>黑龙江省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>310000</integer>
			<key>provinceName</key>
			<string>上海市</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>320000</integer>
			<key>provinceName</key>
			<string>江苏省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>330000</integer>
			<key>provinceName</key>
			<string>浙江省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>340000</integer>
			<key>provinceName</key>
			<string>安徽省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>350000</integer>
			<key>provinceName</key>
			<string>福建省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>360000</integer>
			<key>provinceName</key>
			<string>江西省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>370000</integer>
			<key>provinceName</key>
			<string>山东省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>410000</integer>
			<key>provinceName</key>
			<string>河南省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>420000</integer>
			<key>provinceName</key>
			<string>湖北省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>430000</integer>
			<key>provinceName</key>
			<string>湖南省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>440000</integer>
			<key>provinceName</key>
			<string>广东省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>450000</integer>
			<key>provinceName</key>
			<string>广西壮族自治区</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>460000</integer>
			<key>provinceName</key>
			<string>海南省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>500000</integer>
			<key>provinceName</key>
			<string>重庆市</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>510000</integer>
			<key>provinceName</key>
			<string>四川省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>520000</integer>
			<key>provinceName</key>
			<string>贵州省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>530000</integer>
			<key>provinceName</key>
			<string>云南省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>540000</integer>
			<key>provinceName</key>
			<string>西藏自治区</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>610000</integer>
			<key>provinceName</key>
			<string>陕西省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>620000</integer>
			<key>provinceName</key>
			<string>甘肃省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>630000</integer>
			<key>provinceName</key>
			<string>青海省</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>640000</integer>
			<key>provinceName</key>
			<string>宁夏回族自治区</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>650000</integer>
			<key>provinceName</key>
			<string>新疆维吾尔自治区</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>710000</integer>
			<key>provinceName</key>
			<string>台湾</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>810000</integer>
			<key>provinceName</key>
			<string>香港特别行政区</string>
		</dict>
		<dict>
			<key>provinceId</key>
			<integer>820000</integer>
			<key>provinceName</key>
			<string>澳门特别行政区</string>
		</dict>
	</array>
</dict>
</plist>
